
/* input elements which match the invalid and touched classes */
input.ng-invalid.ng-touched{
   border : 2px solid red
}

select.ng-invalid.ng-touched{
    border : 2px solid red
 }


/* All paragraphs which contains the test class */
/* p.test{
  font-family: 'Courier New', Courier, monospace;
} */
